.Full-page-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
  }
  
  .Left-side-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -1vh;
    margin-bottom: -3vh;
  }
  
  .Background-img {
    background: url(../../assets/png/signup-left-background.png) no-repeat 50%;
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    color: #fff;
    flex-basis: 50%;
    flex-grow: 1;
    min-height: 100vh;
    place-content: center;
  }
  
  .Left-side-container-content {
    width: auto;
    text-align: center;
  }
  
  .Left-side-container-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    font-family: 'Inter';
    color: #FFFFFF
  }
  
  .Btn-signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    width: 389px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #4D5761;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
  
  .Right-side-container {
    padding: 0 120px;
    align-items: center;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    padding: 0 100px;
    place-content: center;
  }
  
  .Form-container {
    width: 550px;
  }
  
  .Form-title {
    color: #111927;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 29.05px;
    margin-top: 72px;
    text-align: left;
    font-style: normal;
  }
  
  .Form {
    margin-top: 20px;
    max-width: 550px;
    width: 100%;
  }
  
  .Form-input {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
  }
  
  .Label {
    background-color: #fff;
    font-size: 12px;
    font-weight: 400;
    left: 20px;
    padding: 0 2px;
    position: absolute;
    top: -8px;
  }
  
  .Label-img {
    color: #6c737f;
    font-size: 16px;
    font-weight: 400!important;
    position: absolute;
    height: 16px;
    left: 16px;
    top: 16px;
    width: 16px;
  }
  
  .Label-img-show-password {
    color: #6c737f;
    font-size: 16px;
    position: absolute;
    height: 16px;
    right: 16px;
    top: 16px;
    width: 16px;
    cursor: pointer;
  }
  
  .Label-img-no-pro {
    color: #6c737f;
    font-size: 16px;
    font-weight: 600!important;
    position: absolute;
    height: 16px;
    left: 16px;
    top: 16px;
    width: 16px;
  }
  
  .Text-input {
    padding-left: 44px;
    border: 1px solid #d2d6db;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    line-height: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .Sign-up-btn {
    background: #0bb68c;
      border-radius: 8px;
      border-style: none;
      color: #fff;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      height: 43px;
      line-height: 26px;
      text-align: center;
      width: 550px;
      cursor: pointer;
  }